.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* PC */
@media (min-width: 769px) {
  html {
    scrollbar-width: none; /* Firefox */
  }

  body::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
  }
}

/* Celular */
@media (max-width: 768px) {
  html {
    scrollbar-width: auto;
  }

  body::-webkit-scrollbar {
    display: block;
    width: auto;
  }
}

.intro-screen {
  position: fixed;
  inset: 0;
  z-index: 2;
}

.intro-saindo {
  animation: subirIntro 0.3s ease-in forwards;
}

.home-screen {
  position: relative;
  min-height: 100vh;
  z-index: 1;

  animation: entrarHome 0.3s ease-out forwards;
}

@keyframes subirIntro {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes entrarHome {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}