@font-face {
    font-family: 'Stack Sans Text';
    src: url('./assets/fonts/StackSansText-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


body {
  margin: 0;
  min-height: 100vh;
  color: #fff;
  background: #050306;
  position: relative;
  overflow-x: hidden;
  font-family: 'Stack Sans Text', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: -50%;
  z-index: -1;

  background:
    linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.025) 0%,
      transparent 25%,
      rgba(180, 100, 255, 0.035) 50%,
      transparent 75%,
      rgba(255, 255, 255, 0.015) 100%
    ),
    linear-gradient(
      160deg,
      #020103,
      #0c0610,
      #13091a,
      #07040a,
      #020103
    );

  background-size: 200% 200%;

  animation: pearlPurple 8s ease-in-out infinite;
}

@keyframes pearlPurple {
  0% {
    background-position: 0% 50%;
    filter: brightness(0.8);
  }

  25% {
    background-position: 50% 50%;
    filter: brightness(1);
  }

  50% {
    background-position: 100% 50%;
    filter: brightness(1.25);
  }

  75% {
    background-position: 50% 50%;
    filter: brightness(1);
  }

  100% {
    background-position: 0% 50%;
    filter: brightness(0.8);
  }
}
.texto-cinza {
  color: rgba(150, 150, 150, 1);
}

button {
    display: flex;
    padding: 12px;
    width: 10rem;
    border-radius: 12px;
    cursor: pointer;
    gap: 6px;
    justify-content: center;

    transition: transform 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.link {
  text-decoration: none;
  color: #fff;
}
button:hover {
    transform: scale(1.05);
}

button a {
    color: #000000;
    text-decoration: none;
}
.botao-branco {
  background-color: #fff;
  color: #000000;
  border: 1px solid #fff;
}
.botao-preto {
  background-color: #000000;
  color: #fff;
  border: 1px solid #fff;
}