.formatacao-portfolio {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.navbar-portfolio {
    display: flex;
    background-color: rgb(30, 30, 30);
    padding: 12px;
    border-radius: 90px;
    gap: 32px;
}
.navbar-portfolio button {
    background-color: transparent;
    border: transparent;
    color: #fff;
}

.navbar-portfolio button.selecionado {
    background-color: rgb(90, 90, 90);
    border-radius: 90px;
}
.animacao-portfolio {
    animation: baixo-cima-home 1.5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    opacity: 0;
    animation-delay: 0.5s;
}
@keyframes baixo-cima-portfolio {
    from {
        opacity: 0;
        transform: translateY(30%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}